<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <span>
    <h2>
    <a href='http://https://omeara.lab.medicine.umich.edu/'>
      Teresa O'Meara Lab
    </a>
    </h2>
  </span>      
</nav>

<div class="jumbotron text-center">
  <h1>Lab Fungal Strains</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3> This database contains information about research artifacts that have been used by the O'Meara lab. Please keep it up-to-date.</h3>
      </br>
      </br>
      <h4> View the <%= link_to 'Strains', controller: 'strains' %> table </h4>
      <h4> View the <%= link_to 'Primers', controller: 'primers' %> table </h4>
      <h4> View the <%= link_to 'Plasmids', controller: 'plasmids' %> table </h4>
    </div>
  </div>
</div>



