
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <img src="https://lh5.googleusercontent.com/8kZzlyAZLndo5RU0BXFhbxLrWLl3LZps8dGfzUmjBS4xvwm6FYClklR_JYX6yCZdR8MAmccZ=w16383" style="max-height: 56px; max-width: 225px;">
  <span>
    <h2>
    <a href='http://https://omeara.lab.medicine.umich.edu/'>
      Teresa O'Meara Lab
    </a>
    </h2>
  </span>      
</nav>

<div class="jumbotron text-center">
  <h1>Lab Fungal Strains</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p> This database contains information about the fungal strains that have been used by the O'Meara lab. Please keep it up-to-date.
      <h3> View the <%= link_to 'Database', controller: 'strains' %> </h3>
      <br>
      <h3> Add a <%= link_to 'new strain', new_strain_path %> to the database </h3>
    </div>
  </div>
</div>



